$primary-blue: #00BCD4; // #179b77;
$dark-blue: #0097A7; // #1ab188;
$soft-grey: #a0b3b0;

#login > form, #signup > form {
  & > *:not(.error--text) > * > input {
    color: $primary-blue!important;
  }

  & > .error--text > * > input {
    color: #F44336!important;
  }

  & > *:not(.error--text) > .input-group__details {
    color: $dark-blue!important;
    text-decoration-color: $dark-blue!important;
  }

  & > * > .input-group--focused > label {
    color: $dark-blue!important;
  }

  & > .error--text > label,
  & > *:not(.error--text) > label {
    font-size: 1.4em!important;
    font-weight: 300!important;  
  }

  & > *:not(.error--text) > label {
    color: rgba(255, 255, 255, 0.5)!important;
  }

  & > .btn--disabled {
    background-color: $dark-blue!important;
  }
}