@import 'vendors/module';
@import 'custom/custom';

/*  CUSTOM GLOBAL STYLES  */

*, ::after, ::before {
  box-sizing: inherit;
  cursor: default;
}
::-webkit-scrollbar {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}