@import 'vendors/module';
@import 'custom/custom';
@import 'transitions/transitions';

/*  CUSTOM GLOBAL STYLES  */

*, ::after, ::before {
  box-sizing: inherit;
  cursor: default;
}
::-webkit-scrollbar {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}