@import 'vendors/module';
@import 'custom/custom';

/*  CUSTOM GLOBAL STYLES  */

*, ::after, ::before {
  box-sizing: inherit;
  cursor: default;
}
::-webkit-scrollbar {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  }

.fade-enter, .fade-leave-to {
  opacity: 0;
}
