/*  IMPORT CUSTOM STYLES  */

@import 'forms/forms';

/*  CUSTOM STYLES HERE  */

.toolbar {
  transform: translateY(0px)!important;
  padding-left: 0!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
}

.icon {
  &.fa {
    font-size: 1rem!important;
  }
}

h5 {
  margin: 0!important;
  padding: .5em 1em 0!important;
  color: #757575!important;
}

.btn--floating {
  border-radius: 50%!important;
}

.btn--depressed {
  box-shadow: none!important;
}

.btn__content::before, .btn__content > i {
  cursor: pointer!important;
}

#carousel {
  height: 30vh;
  top: 60%!important;

  .carousel-image > * > img {
    max-width: 100%!important;
  }
}

#my-account-avatar {
  position: absolute!important;
  bottom: calc( 0 - 50px )!important;
  left: calc( 50% - 50px )!important;
  z-index: 1!important;
}

#account-speed {
  background-color: #29B6F6!important;
  right: -24px!important;
  bottom: 24px!important;
}

.container {
  max-width: 100%!important;
}

.square {
  border-radius: 0!important;
  box-shadow: none!important;
}

.gm-svpc {
  display: none!important;
}

.date-picker-header__value {
  pointer-events: none;
}

.date-picker-table > * > * > * > td > button {
  margin: 0!important;
  padding: 0 8px!important; 
}

.date-dialog {
  border: none!important;
}

.no-shadow {
  box-shadow: none!important;
}