$primary-blue: #00BCD4; // #179b77;
$dark-blue: #0097A7; // #1ab188;
$soft-grey: #a0b3b0;

a {
  cursor: pointer;
  text-decoration: none;
  color: $dark-blue;
  transition: .5s ease;

  &:hover {
    color: $primary-blue;
  }
}

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0 0 1rem;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;

  &:last-child {
    margin: 0;
  }
}

.home-forgot {
  cursor: pointer;
  padding-top: 1em;
  margin: 0;
  text-align: right;
}

.btn {
  height: 4rem!important;
  font-size: 2rem!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
  letter-spacing: .1em!important;
  background: $dark-blue!important;
  color: white!important;
  transition: background 0.5s ease!important;
  box-shadow: none!important;
}

.btn:hover, .btn:focus {
  background: $primary-blue!important;
}

.red:hover, .red:focus {
  background: #d32f2f!important;
}
